{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin/Signup</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/signinup.css' %}>
    <link href="https://fonts.googleaplis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <style>
        .main {
            background-image: url("../static/images/hotellogin.png");
        }
    </style>
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form method="post" action={% url "signup" %}>
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Re-Type Passowrd">
            <button type="submit">Sign up</button>
        </form>
    </div>

    <div class="login">
        <form method="post" action={% url "signin" %}>
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>